<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu sueño, nuestra misión</title>
    <meta name="descripcion" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Leopoldo Ramírez">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="">
    <!-- Bootstrap -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
		
    <!-- CSS -->
    <link rel="stylesheet" href="../src/css/main.css">
</head>
<body>
    <!-- inicia header -->

    <!-- section first mobile -->
    <section class="sectionMobileFisrt">
        <div class="containerNav">
            <nav class="accordion-container">
                <div class="main-item">
                    <i class="bi bi-list"></i>
                    CasAsesor
                </div>
                <ul>
                    <li>
                        <div class="line-vertical"></div>
                        <div class="line-horizontal"></div>
                        <a href="#income" title="Income">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <div class="line-vertical"></div>
                        <div class="line-horizontal"></div>
                        <a href="#expenses" title="Expense">
                            Nosotros
                        </a>
                    </li>
                    <li>
                        <div class="line-vertical"></div>
                        <div class="line-horizontal"></div>
                        <a href="#statements" title="Statements">
                            Servicios
                        </a>
                    </li>
                    <li>
                        <div class="line-vertical"></div>
                        <div class="line-horizontal"></div>
                        <a href="#payouts" title="Payouts">
                            Oferta inmobiliaria
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!--finaliza section first mobile -->

    <!-- header md to xl -->
    <div id="heaerWrapper">
        <div class="conttainer">
            <header class="headerGlobal">

                <!-- navbar md -->
                <div class="inner">
                    <!-- Logo -->
                    <h1>
                        <a href="index.html" id="logo" class="logoFormat">CasAsesor</a>
                    </h1>
    
                    <!-- Nav -->
    
                    <nav id="nav">
                        <ul>
                            <li class="current_page_item"><a href="../index.html">Inicio</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="left-sidebar.html">Servicios</a></li>
                            <li><a href="right-sidebar.html">Oferta inmobiliaria</a></li>
                            <li><a href="no-sidebar.html">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
    
            </header>
        </div>
    </div>

    <!-- finaliza header -->

    <!-- inicia main -->

    <!-- <main class="mainHome">
        <div class="background">
            <div class="centering">
                <div class="articles">
                    <article>
                        <figure>
                            <img
                                src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-
                                    clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=900&t=
                                    st=1687123388~exp=1687123988~hmac=f3410d0a5c2f20aec66c7d763c789bf0aae9c
                                    5026366fe41ae7d18e05e7e406b"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>My Blog 1</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                <a href="#" class="read-more" title="Read More">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <article>
                        <figure>
                            <img
                                src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-
                                    clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=900&t=
                                    st=1687123388~exp=1687123988~hmac=f3410d0a5c2f20aec66c7d763c789bf0aae9c
                                    5026366fe41ae7d18e05e7e406b"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>My Blog 1</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                <a href="#" class="read-more" title="Read More">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <article>
                        <figure>
                            <img
                                src="https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-
                                    clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=900&t=
                                    st=1687123388~exp=1687123988~hmac=f3410d0a5c2f20aec66c7d763c789bf0aae9c
                                    5026366fe41ae7d18e05e7e406b"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>My Blog 1</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                <a href="#" class="read-more" title="Read More">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </main> -->
    <!-- finaliza main -->

    <!-- card 1 de prueba -->

    <!-- <div class="cardContainer">
        <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="slider-item swiper-slide">
                <div class="slider-image-wrapper">
                    <img class="slider-image"
                        src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2600&q=80"
                        alt="SliderImg">
                </div>
                <div class="slider-item-content">
                    <h1 class="h1Card">Exploring Italy's Beauty</h1>
                    <p class="pCard">Discover the breathtaking landscapes, rich history, and delectable cuisine of Italy in this
                        mesmerizing journey.</p>
                </div>
            </div>
            <div class="slider-item swiper-slide">
                <div class="slider-image-wrapper">
                    <img class="slider-image"
                        src="https://images.unsplash.com/photo-1491900177661-4e1cd2d7cce2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80"
                        alt="SliderImg">
                </div>
                <div class="slider-item-content">
                    <h1 class="h1Card">Exploring Hidden Bunkers</h1>
                    <p>Uncover the secrets of underground bunkers and their historical significance in this thrilling
                        adventure.</p>
                </div>
            </div>
            <div class="slider-item swiper-slide">
                <div class="slider-image-wrapper">
                    <img class="slider-image"
                        src="https://images.unsplash.com/photo-1482192505345-5655af888cc4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2600&q=80"
                        alt="SliderImg">
                </div>
                <div class="slider-item-content">
                    <h1 class="h1Card">Scaling Small Mountains</h1>
                    <p>Embark on an adventurous journey to conquer the challenging peaks of small mountains and embrace the
                        thrill of the climb.</p>
                </div>
            </div>
            <div class="slider-item swiper-slide">
                <div class="slider-image-wrapper">
                    <img class="slider-image"
                        src="https://images.unsplash.com/photo-1564604761388-83eafc96f668?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=801.2.1&auto=format&fit=crop&w=2167&q=80"
                        alt="SliderImg">
                </div>
                <div class="slider-item-content">
                    <h1 class="h1Card">Walking On a Dream</h1>
                    <p>Experience the dreamlike landscapes and surreal beauty of distant lands in this enchanting
                        expedition.</p>
                </div>
            </div>
        </div>
        <div class="slider-buttons">
            <button class="swiper-button-prev">Prev</button>
            <button class="swiper-button-next">Next</button>
        </div>
    
        <div class="swiper-pagination"></div>
    </div>
    </div> -->
    
    <!-- finaliza card 1 de prueba -->
    <div class="overlay">
        <div class="slideshow">
            <div class="btn_cerrar">
                <i class="bi bi-x"></i>
            </div>
            <div class="botones atras">
                <i class="bi bi-arrow-left-circle-fill"></i>
            </div>
            <div class="botones adelante">
                <i class="bi bi-arrow-right-circle-fill"></i>
            </div>
            <img src="" alt="" id="imgSlideShow">
        </div>
    </div>
    <h1 class="h1Main">
        Lili ... ¿Te confieso algo?
    </h1>
    <section class="cardGaleria">
        <div class="columnaCard qro">
            <img src="../src/img/fichas/Qro/img1.jpg" alt="" data-img-mostrar="0">
            <img class="ocultar" src="../src/img/fichas/Qro/img2.jpg" alt="" data-img-mostrar="1">
            <img class="ocultar" src="../src/img/fichas/Qro/img3.jpg" alt="" data-img-mostrar="2">
            <img class="ocultar" src="../src/img/fichas/Qro/img4.jpg" alt="" data-img-mostrar="3">
            <img class="ocultar" src="../src/img/fichas/Qro/img5.jpg" alt="" data-img-mostrar="4">
        </div>
        <div class="columnaCard tizHgo">
            <img src="../src/img/fichas/TizHgo/img6.jpg" alt="" data-img-mostrar="5">
            <img class="ocultar" src="../src/img/fichas/TizHgo/img7.jpg" alt="" data-img-mostrar="6">
            <img class="ocultar" src="../src/img/fichas/TizHgo/img8.jpg" alt="" data-img-mostrar="7">
            <img class="ocultar" src="../src/img/fichas/TizHgo/img9.jpg" alt="" data-img-mostrar="8">
            <img class="ocultar" src="../src/img/fichas/TizHgo/img10.jpg" alt="" data-img-mostrar="9">
        </div>
        <div class="columnaCard ecat">
            <img src="../src/img/fichas/ecat/img11.jpg" alt="" data-img-mostrar="10">
            <img class="ocultar" src="../src/img/fichas/ecat/img12.jpg" alt="" data-img-mostrar="11">
            <img class="ocultar" src="../src/img/fichas/ecat/img13.jpg" alt="" data-img-mostrar="12">
            <img class="ocultar" src="../src/img/fichas/ecat/img14.jpg" alt="" data-img-mostrar="13">
            <img class="ocultar" src="../src/img/fichas/ecat/img15.jpg" alt="" data-img-mostrar="14">
        </div>
        <div class="columnaCard uami">
            <img src="../src/img/fichas/Uami/img16.jpg" alt="" data-img-mostrar="15">
            <img class="ocultar" src="../src/img/fichas/Uami/img17.jpg" alt="" data-img-mostrar="16">
            <img class="ocultar" src="../src/img/fichas/Uami/img18.jpg" alt="" data-img-mostrar="17">
            <img class="ocultar" src="../src/img/fichas/Uami/img19.jpg" alt="" data-img-mostrar="18">
            <img class="ocultar" src="../src/img/fichas/Uami/img20.jpg" alt="" data-img-mostrar="19">
        </div>
        <div class="columnaCard arag">
            <img src="../src/img/fichas/arag/img21.jpg" alt="" data-img-mostrar="20">
            <img class="ocultar" src="../src/img/fichas/arag/img22.jpg" alt="" data-img-mostrar="21">
            <img class="ocultar" src="../src/img/fichas/arag/img23.jpg" alt="" data-img-mostrar="22">
            <img class="ocultar" src="../src/img/fichas/arag/img24.jpg" alt="" data-img-mostrar="23">
            <img class="ocultar" src="../src/img/fichas/arag/img25.jpg" alt="" data-img-mostrar="24">
        </div>
        <!-- <div class="columnaCard">
            <img src="" alt="" data-img-mostrar="25">
            <img src="" alt="" data-img-mostrar="26">
            <img src="" alt="" data-img-mostrar="27">
            <img src="" alt="" data-img-mostrar="28">
            <img src="" alt="" data-img-mostrar="29">
        </div> -->
    </section>

    <!-- finaliza main -->

    <!-- inicia footer -->
    
    <footer class="footer">
        <div class="footer__column colUno">
            <h3>Nosotros</h3>
            <p class="footer__column__p">
                Con más de 40 años de experiencia en el sector inmobiliario, somos una empresa familiar que le ofrece una asesoría
                profesional e íntegra para adquirir o vender su vivienda o generar alguna inversión inmobiliaria.
            </p>
        </div>
        <div class="footer__column colDos">
            <div class="footer__column-row">
                <img src="../src/img/logos/Logo_Meta_SinFondo.png" alt="Logo" width="35%" height="35%" />
            </div>
        </div>
        <div class="footer__column colTres">
            <h3 class="h3Style">Nuestras redes sociales</h3><br><br>
            <p class="footer__column__p">
                © Copyright 2023
            </p>

        </div>
    </footer>
    
    <!-- finaliza footer -->

    <!-- floating action button -->
    <menu>
        <a href="https://wa.me/525628341211?text=Hola!%20deseo%20mayor%20información%20de%20sus%20servicios" class="action" target="_blank"><i class="bi bi-whatsapp"></i></a>
        <a href="https://t.me/CasAsesor" class="action" target="_blank"><i class="bi bi-telegram" ></i></a>
        <a href="javascript:void(0)" class="action" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="javascript:void(0)" class="action" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="javascript:void(0)" class="trigger"><i class="bi bi-plus-lg"></i></a>
    </menu>
    <!-- ends floating action button -->

    <!-- Script JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.5/swiper-bundle.min.js'></script>
    <script src="../src/js/main.js"></script>
</body>
</html>