@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,600;1,6..12,700&family=Ysabeau+Infant:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
html {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h2, h3 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  color: #bf9b7a;
  font-size: 2em; }

p {
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
  text-justify: distribute;
  color: #2c2c2c;
  padding: 10px; }

ol, ul {
  list-style: none;
  text-decoration: none; }

menu {
  --size: 2.5rem;
  --radius: 6rem;
  --padding: 1rem;
  position: fixed;
  bottom: var(--padding);
  right: var(--padding);
  z-index: 1; }
  menu .action {
    --factor: 0;
    width: var(--size);
    height: var(--size);
    right: calc(0.35 * var(--size));
    bottom: calc(0.35 * var(--size));
    opacity: 0;
    transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, box-shadow 250ms ease-in-out, color 250ms ease-in-out; }
    menu .action:hover {
      color: #ebebeb;
      box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2); }
    menu .action:nth-child(1) {
      --angle: 0deg;
      transition-delay: 0ms; }
    menu .action:nth-child(2) {
      --angle: 30deg;
      transition-delay: 50ms; }
    menu .action:nth-child(3) {
      --angle: 60deg;
      transition-delay: 100ms; }
    menu .action:nth-child(4) {
      --angle: 90deg;
      transition-delay: 150ms; }

menu > * {
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #bf9b7a;
  color: #023059;
  text-decoration: none;
  box-shadow: 0px 0px 9px 0px #bacbd9; }

menu.abrir > .action {
  --factor: 1;
  opacity: 1; }

menu > .trigger {
  width: calc(1.6 * var(--size));
  height: calc(1.6 * var(--size));
  bottom: 0;
  right: 0;
  font-size: 2.5rem;
  transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out; }
  menu > .trigger:hover {
    color: #ebebeb;
    box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2); }
  menu > .trigger i {
    transition: transform 250ms ease-in-out; }

menu.abrir > .trigger > i {
  transform: rotate(-135deg); }

.sectionMobileFisrt {
  display: none; }

#heaerWrapper {
  padding: 2em 0;
  background: #023059; }

.conttainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%; }

.headerGlobal {
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 10px;
  background: #023059;
  padding: 0.075em;
  margin-bottom: 0; }
  .headerGlobal .inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px;
    height: 5.5em;
    padding: 5px;
    background-color: #023059;
    background-color: #bacbd9;
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 4px #bf9b7a, inset 0px 6px 5px 0px #023059;
    text-shadow: rgba(102, 100, 100, 0.5); }
  .headerGlobal .logoFormat {
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 1.2em;
    color: #023059;
    transition: all ease-in-out 0.35s; }
    .headerGlobal .logoFormat:hover {
      color: #bf9b7a;
      font-size: 1.4em;
      transition: all ease-out 0.35s; }

#nav {
  display: flex;
  align-items: center; }
  #nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto 0; }
  #nav > ul > li {
    padding: 0 0.8em 0 0.8em; }
    #nav >
ul > li > a {
      color: #023059;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1em;
      letter-spacing: 0.06em;
      padding: 0.5em 0.7em 0.5e 0.7em;
      border-radius: 6px;
      transition: all ease-in-out 0.15s; }
      #nav >
ul > li > a:hover {
        color: #bf9b7a;
        transition: all ease-in-out 0.15s; }

.mainGlobal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #ebebeb; }

.sectionMain {
  height: 50px;
  padding: 15px;
  margin-bottom: 30px; }

.h1Main {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 30px 0px 20px 0; }

.carrusel {
  padding: 10px;
  height: 100%;
  margin: 40px; }

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 24px; }

.articles article {
  max-width: 320px;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 16px; }

.articles article a {
  display: inline-flex;
  color: var(--primary);
  text-decoration: none; }

.articles article h2 {
  margin: 0 0 18px 0;
  font-size: 1.6rem;
  color: var(--secondary);
  transition: color 0.3s ease-out; }

.articles article img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.4s ease-in-out; }

.article-preview {
  padding: 24px;
  background: white; }

.articles figure {
  width: 100%;
  height: 200px;
  overflow: hidden; }

.articles figure img {
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  object-fit: cover; }

.articles article:hover img {
  transform: scale(1.5); }

.cardGaleria {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin: 50px 0 60px 0; }

.columnaCard {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px; }
  .columnaCard img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(100%);
    transition: all .3s ease; }
    .columnaCard img:hover {
      cursor: pointer;
      filter: grayscale(0%);
      box-shadow: 0 0 10px rgba(2, 48, 89, 0.9);
      transform: scale(1.1); }
  .columnaCard .ocultar {
    display: none; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(102, 100, 100, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .7s ease;
  visibility: hidden;
  opacity: 0; }
  .overlay .slideshow {
    width: 90%;
    height: 90%;
    background: rgba(235, 235, 235, 0.9);
    color: #023059;
    position: relative;
    display: flex;
    justify-content: center; }

.slideshow img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.btn_cerrar {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 30px;
  text-align: center;
  color: #ebebeb;
  background-color: rgba(102, 100, 100, 0.5);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all .2s ease; }
  .btn_cerrar:hover {
    transform: scale(1.2);
    cursor: pointer; }

.botones {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: rgba(102, 100, 100, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #055ba6; }
  .botones:hover > i {
    transform: scale(1.1);
    transition: all .15s ease-in; }

.atras {
  left: 20px; }

.adelante {
  right: 20px; }

.bi {
  pointer-events: none; }

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 0;
  width: 100%;
  background: #023059;
  padding-top: 20px;
  text-decoration: none; }

.footer__column {
  width: 33.33%;
  flex: 1 0 33.33%; }

.footer__column-row {
  display: flex;
  align-content: center;
  justify-content: center; }

.footer__column__h3 {
  text-align: center; }

.colUno {
  align-items: center;
  justify-items: center;
  margin: auto; }

.colTres {
  text-align: center;
  text-align-last: left; }
  .colTres .h3Style {
    text-align: left; }
  .colTres p {
    color: #bacbd9; }

.colUno .footer__column__p {
  text-align: justify;
  text-align-last: left;
  color: #bacbd9; }

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0 auto;
    bottom: 0;
    width: 100%;
    background: #023059;
    padding-top: 20px;
    text-decoration: none; }
  .footer__column {
    width: 100%;
    text-align: left; }
  .h3Style {
    text-align: left; }
  .colUno {
    align-items: center;
    justify-items: center; }
  .colDos {
    display: none; }
  .colTres {
    text-align: center;
    text-align-last: left; } }

@media screen and (max-width: 1200px) {
  .conttainer {
    width: 100%; }
  .headerGlobal {
    width: 95%; }
    .headerGlobal .logoFormat {
      font-family: "Ysabeau Infant", sans-serif;
      font-size: 1em;
      color: #023059;
      transition: all ease-in-out 0.35s; }
      .headerGlobal .logoFormat:hover {
        color: #bf9b7a;
        font-size: 1.2em;
        transition: all ease-out 0.35s; }
  #nav {
    display: flex;
    align-items: center; }
    #nav ul {
      display: flex; }
    #nav > ul > li {
      padding: 0 0.1em 0 0.1em; }
      #nav >
ul > li > .current_page_item {
        color: #bf9b7a; }
      #nav > ul > li a {
        letter-spacing: 0.02em;
        padding: 0.1em 0.2em 0.1em 0.2em;
        transition: all ease-in-out 0.15s; }
        #nav > ul > li a:hover {
          color: #bf9b7a;
          transition: all ease-in-out 0.15s; } }

@media screen and (max-width: 768px) {
  #heaerWrapper {
    display: none; }
  .sectionMobileFisrt {
    display: inline-flex;
    width: 100%;
    display: block; }
  .containerNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; }
  .accordion-container {
    min-width: 100%;
    padding: 10px;
    border-radius: 0;
    overflow: hidden;
    background-color: #023059; }
  .main-item {
    border-radius: 8px;
    padding: 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: start;
    gap: 8px;
    transition: all ease-in-out 0.25s;
    color: #bacbd9;
    font-size: 1.2em; }
  .main-item:hover {
    background-color: #055ba6;
    color: #bf9b7a;
    font-size: 1.2em;
    font-weight: 500; }
  .main-item svg {
    stroke: #bacbd9;
    transition: all ease-in-out 0.25s; }
  .main-item:hover svg {
    stroke: #bacbd9; }
  .main-item--open {
    border-radius: 8px;
    background-color: #023059;
    transition: all 200ms;
    color: #bf9b7a; }
  .main-item--open:hover {
    color: #bf9b7a;
    border-radius: 8px;
    background-color: #023059; }
  .accordion-container > ul {
    max-height: 0px;
    list-style-type: none;
    margin: 0px;
    padding-left: 14px;
    opacity: 0;
    font-size: smaller;
    visibility: hidden;
    transition: all ease-in-out 0.2s; }
  .main-item--open + ul {
    visibility: visible;
    max-height: 400px;
    padding-left: 22px;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .accordion-container > ul > li {
    height: 48px;
    display: flex;
    width: 100%;
    align-items: center; }
  .accordion-container > ul > li > a {
    color: #bacbd9;
    padding: 16px 8px;
    height: 38px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 8px; }
  .accordion-container > ul > li:hover > a {
    color: #2c2c2c;
    background-color: #bacbd9;
    width: 100%; }
  .expand-icon {
    width: 24px;
    height: 24px;
    margin-left: auto; }
  .line-vertical {
    display: block;
    background-color: #bf9b7a;
    width: 2px;
    height: 48px; }
  .accordion-container > ul > li:last-child > .line-vertical {
    height: 25px;
    align-self: flex-start; }
  .line-horizontal {
    display: block;
    background-color: #bf9b7a;
    height: 2px;
    min-width: 12px; } }

@media screen and (max-width: 768px) {
  .columnaCard {
    flex: 50%;
    max-width: 50%; }
  .botones {
    font-size: 45px; }
  .atras {
    left: 5px; }
  .adelante {
    right: 5px; }
  .slideshow img {
    width: 98%; } }

@media screen and (max-width: 576px) {
  .columnaCard {
    flex: 100%;
    max-width: 100%; } }
