// Breakpoint Xl

@include breakpoint (xl) {

    // header

    .conttainer{
        width: 100%;
    }

    .headerGlobal {
        width: 95%;
    
        .logoFormat {
            font-family: $textAux;
            font-size: $textMd;
            color: $marino;
            transition: all ease-in-out 0.35s;
            &:hover {
                color: $beige;
                font-size: $textHoverMd;
                transition: all ease-out 0.35s;
            }
        }
    }

    #nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
        }

        >ul>li {
        
            padding: 0 0.1em 0 0.1em;
            
            >
            .current_page_item{
                color: $beige;
            }
    
            a {
                letter-spacing: 0.02em;
                padding: 0.1em 0.2em 0.1em 0.2em;
                transition: all ease-in-out 0.15s;
                &:hover{
                    color: $beige;
                    transition: all ease-in-out 0.15s;
                }
    
            }
        }
    }
}




// Breakpoint md

@include breakpoint (md) {

    //Header

    #heaerWrapper{
        display: none;
    }

    //navbar Mobile First
    
    .sectionMobileFisrt {
        display: inline-flex;
        width: 100%;
        display: block;
    }

    .containerNav{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $textHoverMd;
    }
    
    .accordion-container {
        min-width: 100%;
        padding: 10px;
        border-radius: 0;
        overflow: hidden;
        background-color:$marino;
    }
    
    .main-item {
        border-radius: 8px;
        padding: 12px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: start;
        gap: 8px;
        transition: all ease-in-out 0.25s;
        color: $gris;
        font-size: $textHoverMd;
    }
    
    
    .main-item:hover {
        background-color: $azulUno;
        color: $beige;
        font-size: $textHoverMd;
        font-weight: 500;
    }
    
    .main-item svg {
        stroke: $gris;
        transition: all ease-in-out 0.25s;
    }
    
    .main-item:hover svg {
        stroke: $gris;
    }
    
    .main-item--open {
        border-radius: 8px;
        background-color: $marino;
        transition: all 200ms;
        color: $beige;
    }
    
    .main-item--open:hover {
        color: $beige;
        border-radius: 8px;
        background-color: $marino;
    }
    
    .accordion-container>ul {
        max-height: 0px;
        list-style-type: none;
        margin: 0px;
        padding-left: 14px;
        opacity: 0;
        font-size: smaller;
        visibility: hidden;
        transition: all ease-in-out 0.2s;
    }
    
    .main-item--open+ul {
        visibility: visible;
        max-height: 400px;
        padding-left: 22px;
        opacity: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .accordion-container>ul>li {
        height: 48px;
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    .accordion-container>ul>li>a {
        color: $gris;
        padding: 16px 8px;
        height: 38px;
        line-height: 38px;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 8px;
    }
    
    .accordion-container>ul>li:hover>a {
        color: $textColor;
        background-color: $gris;
        width: 100%;
    }
    
    .expand-icon {
        width: 24px;
        height: 24px;
        margin-left: auto;
    }
    
    .line-vertical {
        display: block;
        background-color: $beige;
        width: 2px;
        height: 48px;
    }
    
    .accordion-container>ul>li:last-child>.line-vertical {
        height: 25px;
        align-self: flex-start;
    }
    
    .line-horizontal {
        display: block;
        background-color: $beige;
        height: 2px;
        min-width: 12px;
    }
}