

// Footer

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background: $marino;
    padding-top: 20px;
    text-decoration: none;
}
.footer__column-row {
    display: none;
}
.footer__column__h3 {
    text-align: center;
}

.colUno .footer__column__p{
    text-align: justify;
    text-align-last: left ;
    color: $gris;
}

.colTres {
    display: none;
}



@media (min-width: $breakpoint-sm) {
    .footer {
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: none;
        display: flex;
        width: 100%;
        bottom: 0;
    }

    .footer__column {
        width: 33.33%;
        max-width: 33.33%;
        min-width: 33.33%;
        flex: 1 0 33.33%;
        .footer__column-row {
            display: flex;
            align-content: center;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    .colTres{
        display: block;
    }

}
