// Footer

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background: $marino;
    padding-top: 20px;
    text-decoration: none;
}

.footer__column {
    width: 33.33%;
    flex: 1 0 33.33%;
}

.footer__column-row {
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer__column__h3 {
    text-align: center;
}

.colUno{
    align-items:center;
    justify-items: center;
    margin: auto;
}

.colTres{
    text-align: center;
    text-align-last: left;
    p{
        color: $gris;
    }
}
.colUno .footer__column__p {
    text-align: justify;
    text-align-last: left;
    color: $gris;
}



@include breakpoint(sm) {
    .footer {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        bottom: 0;
        width: 100%;
        background: $marino;
        padding-top: 20px;
        text-decoration: none;
    }
    .footer__column {
        width: 100%;
        text-align: left;
    }
    .h3Style {
        text-align: left;
    }
    .colUno{
        align-items:center;
        justify-items: center;
    }
    .colDos {
        display: none;
    }
}
