@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,600;1,6..12,700&family=Ysabeau+Infant:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

//vars fonts
$mainFont: 'Nunito Sans', sans-serif;
$titulo: 'Julius Sans One', sans-serif;
$textAux: 'Ysabeau Infant', sans-serif;

//sizes
$textSm: 0.8em;
$textMd: 1em;
$textLg: 1.6em;
$textXl: 3em;

// vars colors
$marino: rgb(2,48,89);
$azulUno: rgb(5,91,166);
$azulDos: rgb(3,103,166);
$gris: rgb(186,203,217);
$beige: rgb(191,155,122);
$textColor: rgb(44, 44, 44);
$white: rgb(245, 245, 245);